main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3em;
}

main > section:first-of-type {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: none;
    width: max-content;
}

main > section:first-of-type h2 {
    font-size: 3em;
}

section {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    column-gap: 4em;
    row-gap: 0em;
    padding: 1em;
    border-top: solid var(--blue);
    border-bottom: solid var(--blue);
    width: 100%;
    justify-content: center;
}

section h2 {
    font-size: large;
    grid-column-start: 2;
    align-self: flex-end;
}

section a {
    grid-column-start: 2;
    grid-row-start: 2;
}

section img {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: -1;

    object-fit: cover;
    width: 7em;
    height: 7em;
    border-radius: 200em;
    padding: 0.3em;
    border: solid var(--blue) 0.2em;
}