
main article {
    display: grid;
    gap: 1em;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1em;
}

main article section img {
    position: relative;
    height: 10rem;
    width: 100%;


    object-fit: cover;
    object-position: 100% 30% ;
    align-self: center;
}

article h2 {
    display: none;
}


@media screen and (min-width: 1024px) {
    main {
        padding-top: 0;

    }

    main article {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    
    main article section img {
        order: -1;
        height: 13rem;
        border-radius: 0 0 0 10em;
    }

    main article section:nth-of-type(2) img {
        border-radius: 0 10em 0 0;
    }
}
