
main {
    display: inline-block;
    columns: 1;
    height: max-content;
}

@media screen and (min-width: 40rem) {
    main {
        columns: 2;
    }
}

@media screen and (min-width: 70rem) {
    main {
        columns: 3;
    }
}

main section {
    width: 100%;
    display: inline-block;

    align-self: start;
    margin: 0;
}

main section p:nth-of-type(2) {
    padding-top: 1em;
}

main section h2 {
    font-size: 2rem;
}
 
main section ul img {
    object-fit: contain;
    height: 20vh;
}

main section ol {
    padding: 2em;
    list-style: outside;
    line-height: 1.5em;
}

main section ol li:nth-of-type(1) {
    padding-top: 0;
}

main section ol li {
    padding-top: 1em;
}

section ul {
  display: flex;

  list-style: none;
  
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  transition: ease-in;

  anchor-name: --my-carousel;
  
  scroll-marker-group: after;
}


main section ul li {
  display: flex;
  justify-content: center;

  flex: 0 0 100%;
  
  scroll-snap-align: center;
}

main > section ul li img {
    border: none;
}