main section {
    display: flex;
    flex-direction: column;
    width: 100%;

    overflow-x: hidden;
}
 
main section img {
    width: 20em;
    height: 20em;
    object-fit: cover;
    border-radius: 20em;

    position: relative;
}

section:first-of-type img {
    left: -4rem;
}

section:nth-of-type(2) img {
    right: -10rem;
}

@media screen and (min-width: 40em){
    section:first-of-type img {
    left: 0em;
}

section:nth-of-type(2) img {
    right: 0em;
}
}

main section p {
    margin-top: 1em;
}