
main article {
    display: grid;
    gap: 1em;
    background-color: var(--indexWhite);
}

article {
    padding: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1em;
}

main article section img {
    position: relative;
    height: 10rem;
    width: 100%;


    object-fit: cover;
    object-position: 100% 30% ;
    align-self: center;
}

article h2 {
    display: none;
}

h2, h3 {
    color: var(--blue);
}



@media screen and (min-width: 1024px) {
    main {
        padding-top: 0;

    }

    main article {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    
    main article section img {
        order: -1;
        height: 13rem;
    }

}

.heroSection {
  display: grid;
  place-items: center;          /* centers everything */
  text-align: center;
  position: relative;
  min-height: 40vh;

  background-image: url(../images/background.png);
  background-position: 100% 50%;
  background-size: cover;
  background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.935);
    background-blend-mode: lighten;
}

.heroSection img{
  grid-area: 1 / 1;             /* stack everything in the same grid cell */
  width: 300px;
  z-index: 1;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.41));
}

.heroSection h2 {
  grid-area: 1 / 1;
  z-index: 2;
  font-size: 2.2rem;
  letter-spacing: 7px;
  margin-top: 8em;            /* moves it slightly downward to overlap image bottom */
  padding: 0.2em 0.5em;
  color: var(--heroTitle);
  max-width: 100%;
    font-weight: 900;
}

 .heroSection p {
  /* grid-area: 2 / 1;             /* place below the overlapping area  */
  font-size: .8rem;
  margin-top: -1rem;
  letter-spacing: .3em;
  padding-bottom: 1rem;
  color: var(--black-text);
  font-weight: 400;
} 
